Package: com.eightbitace.curlswitcher
Name: CurlSwitcher
Depends: mobilesubstrate libactivator
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Keith
Author: Keith
Section: Tweaks
